/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;400&family=Open+Sans:wght@700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;400&family=Montserrat:wght@300&family=Open+Sans:wght@700&family=Poppins&display=swap');

body{
    background-color: white;
    padding: 0;
    margin: 0;
}  
a{
    color: inherit;
    text-decoration: none;
}
header.home {
    background-image: url(./images/foto3.jpg);
    background-size:cover;  
    background-repeat: no-repeat;
    background-position: top;
    height: 700px;

}
header.tours {
    background-repeat: no-repeat;
    background-position: top;
    

}
header .header{
    top: 0;
    /* position: fixed; */
    max-width: 80%;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0;
    right: 0;
    padding: 15px 0px;
}
header.home:before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 700px;
    background-color: rgba(0, 0, 0, 0.5);   
}

header .nav-list {
    display: flex;
    column-gap: 30px;
    z-index: 999;
    
}
header li{
    color: white;
    display: inline;
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
}
header a{
    color: inherit;
    text-decoration: none;
}

.logo{
    z-index: 999;
}
#logo{

    width: 90px;
    height: 60px;
}
.main{
    max-width: 80%;
    width: 100%;
    margin: auto;
    background-color: white;
}

